/* Colours */
$dark: #345;
$light: #FFF;
$medium: #CCC;
$emphasis: #D50;

body {
  margin: 0;
  padding: 0;
  color: $dark;
  font-size: 8px;
  font-weight: 300;
  line-height: 14px;
  font-family: arial;
}

section {
  padding: 16px;
}

em {
  color: $emphasis;
}

/* Helpers */
.m-b-8 {
  margin-bottom: 8px;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

/* Layout */
.flex {
  display: flex;
  flex-direction: row;

  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.flex-distribute {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-gutter {
  flex: 0 0 16px;
  -webkit-flex: 0 0 16px;
}

.flex-responsive {
  flex: 1;
  -webkit-flex: 1;
}

@for $i from 15 to 150 {
  .flex-fixed-#{$i} {
    flex: 0 0 #{$i}px;
    -webkit-flex: 0 0 #{$i}px;
  }
}

/* Decorators */
.banner {
  background: $dark;
  padding: 2px 16px 0 16px;

  a, span {
    color: $light;
    text-decoration: none;
  }
}

.name {
  font-size: 24px;
  color: $emphasis;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.profession {
  color: $medium;
  font-size: 14px;
  padding-top: 5px;
}

.title {
  margin: 8px 0;
  font-size: 16px;

  i {
    font-size: 12px;
    color: $emphasis;
  }
}

.address {
  div {
    line-height: 10px;
  }

  i {
    padding-top: 2px;
  }
}

.grade {
  top: 14px;
  left: -24px;
  color: $medium;
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.statement {
  padding: 8px 100px;
  text-align: center;
  margin: 10px 0 2px 0;
  border-top: 2px dotted $medium;
  border-bottom: 2px dotted $medium;
}
