/*
 * Colours
 */
$dark: #345;
$light: #FFF;
$medium: #CCC;
$emphasis: #D50;

body {
  margin: 0;
  padding: 0;
  color: $dark;
  font-size: 8px;
  font-weight: 300;
  line-height: 14px;
  font-family: arial;
  border-bottom: 2px solid $dark;
}

section {
  padding: 16px;
}

em {
  color: $emphasis;
}

/* Layout */
.flex {
  display: flex;
  flex-direction: row;

  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.flex-distribute {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-gutter {
  flex: 0 0 20px;
  -webkit-flex: 0 0 20px;
}

.flex-responsive {
  flex: 1;
  -webkit-flex: 1;
}

.flex-fixed-20 {
  flex: 0 0 20px;
  -webkit-flex: 0 0 20px;
}

.flex-fixed-70 {
  flex: 0 0 70px;
  -webkit-flex: 0 0 70px;
}

.flex-fixed-100 {
  flex: 0 0 100px;
  -webkit-flex: 0 0 100px;
}

.flex-fixed-150 {
  flex: 0 0 150px;
  -webkit-flex: 0 0 150px;
}

/* Decorators */
.contact {
  background: $dark;
  padding: 2px 8px 0 8px;

  a {
    color: $light;
    text-decoration: none;
  }
}

.name {
  font-size: 24px;
  color: $emphasis;
  padding-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.profession {
  color: $medium;
  padding: 5px 0;
  font-size: 14px;
}

.title {
  font-size: 16px;

  i {
    font-size: 12px;
    color: $emphasis;
  }
}

.statement {
  padding: 8px 100px;
  text-align: center;
  margin: 10px 0 2px 0;
  border-top: 2px dotted $medium;
  border-bottom: 2px dotted $medium;
}
