*                                  { margin: 0; padding: 0; }

#wrapper                           { width: 1033px; line-height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #444; }

h1                                 { color: #e72; font-weight: bold;  font-size: 65px; line-height: 50px; margin-top: 30px; }
h2                                 { color: #777; font-weight: normal; font-size: 28px; line-height: 30px; font-style: italic; }
h3                                 { color: #555; font-weight: normal; font-size: 30px; line-height: 30px; margin-bottom: 10px; }
h3 span                            { color: #e72; font-weight: normal; font-size: 30px; padding-right: 3px; }
h4                                 { color: #e72; font-weight: bold;  font-size: 16px; margin: 10px 0 0 10px; }
a                                  { color: #fff; text-decoration: none; }
li                                 { list-style-type: none; }

.contentWrapper                    { margin-bottom: 35px; }
.itemWrapper                       { margin-bottom: 30px; overflow: hidden; padding: 2px 0; position: relative; }
.grade                             { position: absolute; top: 25px; left: -21px; font-style: italic; font-size: 12px; -webkit-transform:rotate(-90deg); }

#top                               { background-color: #333; overflow: hidden; padding: 10px 5px; }
#top li                            { float: left; padding: 0; margin-right: 35px; }
#top li:last-child                 { margin-right: 0; }
#top li:first-child                { margin-left: 10px; }
#top span                          { padding-top: 3px; }

#top span, #top-box-right span     { width: 17px; height: 17px; display: block; float: left; margin-right: 5px; }
#top-box-right ul li               { overflow: hidden; }
#top-box-right ul                  { margin-bottom: 10px; }

#top-box-wrap                      { overflow: hidden;  }

#top-box-right                     { float: left; padding-left: 315px; padding-top: 20px; line-height: 16px; }
#top-box-left                      { width: 518px; float: left; text-align: right; }

#bottom                            { background-color: #333; padding: 0 3px; text-align: center; margin-top: -4px; }
#bottom a                          { font-size: 8px; }

#content                           { padding: 10px 20px; overflow: hidden; }

#top-box p                         { border-top: 1px dashed #777; border-bottom: 1px dashed #777; padding: 20px 172px; margin: 15px 0 23px 0; }

#center-box                        { overflow: hidden; }
#center-box ul                     { margin-left: 15px; }

#center-box-left                   { float: left; width: 743px; }
#center-box-left p                 { float: left; width: 500px; padding-right: 20px; }
#center-box-left ul                { float: left; width: 200px; }

#center-box-right                  { float: left; width: 250px; }
#center-box-right ul li            { overflow: hidden; padding: 3px 0; }
#center-box-right h3               { margin-top: 15px; padding-top: 24px; }
#center-box-right h3:first-child   { padding-top: 0; }

#center-box-right h3:first-child   { margin-top: 0; }
#center-box-right h4:first-child   { margin-top: 0; }

.itemWrapper ul li:nth-child(1)    { font-weight: bold; }
.itemWrapper ul li:nth-child(2)    { color: #e72; }

#bottom-box                        { overflow: hidden; }
#bottom-box-left                   { float: left; width: 750px; }
#bottom-box-left ul                { overflow: hidden; padding-left: 20px; padding-top: 5px; }
#bottom-box-left li                { float: left; display: block; margin-right: 20px; width: 100px; height: 52px; overflow: hidden; }
#bottom-box-right                  { float: left; padding-top: 40px; }
#bottom-box-right span             { width: 17px; height: 17px; display: block; float: left; margin-right: 5px; }

#bottom-box-left ul li#nhsSVG      { width: 108px; }
#bottom-box-left ul li#aviSVG      { width: 64px; }
#bottom-box-left ul li#argSVG      { width: 64px; }
#bottom-box-left ul li#gnrSVG      { width: 210px; }
#bottom-box-left ul li#orgSVG      { width: 45px; }

#center-box-right ul li span       { width: 17px; height: 17px; display: block; float: left; margin-right: 5px; }
#center-box-right ul li span.skill { width: 120px; display: block; float: left; }
